input[type="button"]:enabled, input[type="submit"]:enabled {
    cursor: pointer;
}

.table th
{
    text-align: center;
}

input[type="button"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    background-color: gray;
    border: solid 1px gray;
}
.page-wrapper
{
    margin-left: 0px !important;
}

div.table-responsive {
    max-height: 350px;
    overflow-y: auto;
}

.footer
{
    left: 0px !important;
}

a.home-page {
    background: url('/Contents/material-lite/assets/images/favicon.png') left center no-repeat;
    padding-left: 30px;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

.Errortext
{
    color: red;
    font-size: 12px;
}